.card {
  background: linear-gradient(mediumslateblue,white);
}
.center-div{
  margin-left: 22vw !important; 

}
.button{
     background: linear-gradient(black,mediumslateblue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 100%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;

} 